* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    color: black;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    background-color: #f6f6ef;
    row-gap: 7px;
    padding: 12px 2px;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
}

.news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 10px;
}

.bot {
    display: flex;
    gap: 5px;
    font-size: 0.8rem;
    color: gray;
}

a {
    text-decoration: none;
}

.news>a {
    color: black;
    text-decoration: none;
}

#nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: 2px;
    width: 80vw;
    margin: 10px auto 0 auto;
    background-color: #ff6600;
    color: black;
    align-items: center;
}

#refresh {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-column: 10;
}

#back {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-column: 9;
}

.hn {
    margin-left: 4px;
}

#commentAll {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.top {
    color: gray;
}

.text {
    margin-left: 1px;
}

.text > p {
    margin: 8px 0;
}

.commentAll {
    margin-left: 10px;
    margin-right: 10px;
}

.commentAll > div {
    margin-top: 3px;
    margin-bottom: 3px;
}

.children {
    margin-top: 6px;
    margin-bottom: 6px;
}

.brackets {
    color: gray;
}

.toggleVisibility:hover {
    text-decoration: underline;
}
